.nav {
    background: var(--clr-dark-dark);
    width: 100%;
    height: 4rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    position: fixed;
}

.nav-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-light-light);
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo-img {
    width: 2rem;
}

.btn {
    background-color: transparent;
    border-radius: 0.3rem;
    border: 1px solid var(--clr-dark-accent);
    cursor: pointer;
    transition: all ease 300ms;
}

.btn:hover {
    background: var(--clr-dark-light);
    transform: scale(110%);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    color: var(--clr-dark-dark);
}

.login-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--clr-light-light);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    transition: transform ease-in 0.5s;
}